<br>
<div id = "infoDevis"> 1</div>

<div id = "infoClient">2</div>




<div id="formAjoutPhotoDevis">

</div>


<!-- Bouton pour chnger etat -->
<br>
<div class="row" id="dateDiv">
	<p id="dateReporter">Date à reporter: &nbsp</p>
	<p id="dateIntroduire">Date de début de travaux: &nbsp</p>
     <input type="date" id="dateNew">
    <button id="buttonDateNew" class=" btn btn-info  ">envoyer</button>
</div>
<br>
<div class="row" id="boutonEtat"></div>
<br>

<!-- Container for the image gallery Source: w3schools -->
<div class="row">
    <div class="col-sm-6">
        <h3>Photos avant</h3>
        <div id="photoAvantContainer"class="slideshow-container2">

            <!-- Full-width images with number and caption text -->
            <div id="slideshowDevisAvant">
        
            </div>
        
            <!-- Next and previous buttons -->
            <a id="prevDevisAvant" class="prev" >&#10094;</a>
            <a id="nextDevisAvant"class="next">&#10095;</a>
          </div>
    </div>
    <div class="col-sm-6">
        <h3>Photos après</h3>
        <div  id="photoApresContainer"class="slideshow-container2">

            <!-- Full-width images with number and caption text -->
            <div id="slideshowDevisApres">
        
            </div>
        
            <!-- Next and previous buttons -->
            <a id="prevDevisApres" class="prev" >&#10094;</a>
            <a id="nextDevisApres" class="next">&#10095;</a>
          </div>
</div>

</div>
    
