<!--Formulaire Ajout Client-->
<br/>
    <div class="col-sm-9 boxPhoto shadow-sm p-3 mb-5 bg-white rounded">
        <h1>Ajouter un client</h1>
        <form action="/" method="post">
            <div class="form-group">
                <label for="nom">Nom du client:</label>
                <input type="text" class="form-control" id="clinom" placeholder="Nom" name="clinom" >
            </div>
            <div class="form-group">
                <label for="name">Prénom du client:</label>
                <input type="text" class="form-control" id="cliprenom" placeholder="Prénom" name="cliprenom" >
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" id="cliemail" placeholder="Email" name="cliemail" >
            </div>
            <div class="form-group">
                <label>Numéro de téléphone:</label>
                <input type="text" class="form-control" id="clitel" placeholder="Numéro de téléphone" name="clitel" >
            </div>
            <h4>Adresse:</h4>
            <div class="form-group">
                <label for="name">Rue:</label>
                <input type="text" class="form-control" id="clirue" placeholder="Rue " name="clirue" >
            </div>
            <div class="form-group">
                <label>Numéro:</label>
                <input type="text" class="form-control" id="clinum" placeholder="Numéro" name="clinum" >
            </div>
            <div class="form-group">
                <label>Boite:</label>
                <input type="text" class="form-control" id="cliboite" placeholder="Boite (facultatif)" name="cliboite">
            </div>
            <div class="form-group">
                <label>Code postal:</label>
                <input type="text" class="form-control" id="clicp" placeholder="Code postal" name="clicp" >
            </div>
            <div class="form-group">
                <label>Ville:</label>
                <input type="City" class="form-control" id="cliville" placeholder="Ville" name="cliville" >
            </div>

            <button id="clisubmit" type="submit" class="btn btn-info">Ajouter le client</button>

            <div id="message3"></div>
        </form>
    </div>
