<!--Formulaire connexion-->
<div class="row">
    <div class="col-sm-4 offset-sm-2">
        <h1>Se connecter</h1>
        <form action="/" method="post" >
            <div class="form-group">
                <label for="pseudo">Pseudo:</label>
                <input type="text" class="form-control" id="uname" placeholder="Pseudo" name="uname" >
            </div>
            <div class="form-group">
                <label for="pass">Mot de passe:</label>
                <input type="password" class="form-control" id="upwd" placeholder="Mot de passe" name="pswd" >
            </div>
            <button id="usubmit" type="submit" class="btn btn-info">Connexion</button>
            <div id="message1"></div>
        </form>
    </div>

    <!--Formulaire inscription-->
    <div class="col-sm-4">
        <h1>S'inscrire</h1>
        <form action="/" method="post" >
            <div class="form-group">
                <label for="pseudo">Pseudo:</label>
                <input type="text" class="form-control" id="copseudo" placeholder="Pseudo" name="uname" >
            </div>
            <div class="form-group">
                <label for="name">Nom:</label>
                <input type="text" class="form-control" id="conom" placeholder="Nom" name="nom" >
            </div>
            <div class="form-group">
                <label for="name">Prenom:</label>
                <input type="text" class="form-control" id="coprenom" placeholder="Prénom" name="prenom" >
            </div>
            <div class="form-group">
                <label>Ville:</label>
                <input type="City" class="form-control" id="coville" placeholder="Ville" name="pswd" >
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" id="coemail" placeholder="Email" name="pswd" >
            </div>
            <div class="form-group">
                <label>Mot de passe:</label>
                <input type="password" class="form-control" id="comdp" placeholder="Mot de Passe" name="pswd" >
            </div>
            <button id="cosubmit" type="submit" class="btn btn-info">Inscription</button>

            <div id="message2"></div>

        </form>

    </div>

</div>