<br/>
    
    <div class="col-sm-9 boxPhoto shadow-sm p-3 mb-5 bg-white rounded">
        <h1>Ajouter un type d'aménagement</h1>
        <form id="ajoutAmen" method="post">
            <div class="form-group">
                <label for="amenagement">Nom de l'aménagement</label>
                <input type="text" class="form-control" placeholder="Nom de l'aménagement" id="amenagementAjoutVal" name="amenagement">
            </div>
            <button id="amenagementAjout" class="btn btn-info">Ajouter</button>
            <div id="messageAjoutAmen"></div>
        </form>
    </div>
