<!-- header -->
<div id="header" class="col">

    <!-- Affichage bouton connexion -->
    <div id="boutonCo" class="row">
        <button id="butCo" class="btn vert">Se connecter /S'inscrire</button>
    </div>

    <!-- Affichage bouton deconnexion + pseudo -->
    <div id="boutonDeco" class="row">
        <button type="button" id="butDeco" class="btn vert">Deconnexion</button>
    </div>

    <!-- Affichage logo et nom entreprise-->
    <div id="nomEntreprise">
        <h1 class="row">🌹 LA ROSE ET LE LILAS 🌺</h1>
    </div>

    <!-- Affichage menu -->
    <div id="menu" class="row align-self-center d-flex justify-content-center">
        <ul class="row">
            <div class="btn-lg">
                <li class="nav-item"><a class="nav-link font-weight-bold px-4" href="">Accueil</a></li>
            </div>
            <div class="btn-lg">
                <li class="nav-item  dropdown">
                    <a class="nav-link font-weight-bold  px-4 dropdown-toggle" href="#" data-toggle="dropdown">Types
            d'aménagement</a>
                    <div id="choixAmenagement" class="dropdown-menu">
                    </div>
                </li>
            </div>
            <button type="button" id="monEspaceBouton" class="btn font-weight-bold px-4">Mon espace</button>
        </ul>
    </div>
</div>