<br />
    <div class="col-sm-9 boxPhoto shadow-sm p-3 mb-5 bg-white rounded">
        <h1>Introduire un devis</h1>
        <form id="introDevis" method="post">

            <br />
            <div class="form-group">
                <label for="client">Client :</label>
                <input type="text" placeholder="Nom du client" class="form-control" id="clientDevis" name="clientDevis">
                <input type="hidden" class="form-control" id="idClientDevis">
            </div>

            <div class="form-group">
                <label for="dateDevis">Date du devis : </label>
                <input type="date" class="form-control" id="dateDevis" name="dateDevis">
            </div>

            <div class="form-group">
                <label for="montantDevis">Montant (en €) : </label>
                <input type="number" placeholder="Montant" min="0" class="form-control" id="montantDevis" name="montantDevis">
            </div>

            <div class="form-group">
                <label for="dureeDevis">Durée (en jours) :</label>
                <input type="number" min="0" placeholder="Durée" class="form-control" id="dureeDevis" name="dureeDevis">
            </div>

            <div id="inputAmenagement" class="form-group">
                <label for="amenagementDevis">Type d'aménagement:</label>
                <select id="amenagementDevis" class="amenagementDevis form-control" name="amenagementDevis">

                </select>
            </div>

            <div id="inputPhoto"  class="form-group">
                <div class=" custom-file">
                    <input type="file" class="custom-file-input uploadImage" id="Photo">
                    <label class="custom-file-label" for="Photo">Photo</label>
                  </div>
            </div>

            

              <div class=" form-group row">
                <div class="col-sm-4">
                    <div id="ajoutChampPhoto" class=" btn btn-info">Ajouter une photo</div>
                </div>
                <div class="col-sm-5">
                    <div id="ajoutChampAmenagement" class=" btn btn-info ">Ajouter un aménagement</div>
                </div>
          
            </div>
      
            
            
            <br>
            <div id="messageDevis"></div>
            <br />
            <button id="devisSubmit" type="submit" class="btn btn-info">Introduire le devis</button>

        </form>
    </div>
