<br>
<div class="btn-group " >
    <button class="btn btn-info" id="rechercherAffichage">Devis</button>
    <button class="btn btn-info" id="rechercherUtilisateur">Utilisateurs</button>
    <button class="btn btn-info" id="rechercherClient">Clients</button>
</div>



<div id="utilisateurVieuw" class="boxPhoto shadow-sm p-3 mb-5 bg-white rounded">
    <!-- mettre barre de recherche -->
    <br>
    <br>
    <form>
        <div class=" form-group row">
            <div class="col-sm-4">
                <label for="nomUtil">Nom :</label>
            <input type="text" class="form-control" placeholder="Nom " id="nomUtil" name="nomUtil">
            </div>
            <div class="col-sm-4">
                <label for="villeU">Ville :</label>
            <input type="text" class="form-control" placeholder="Ville" id="villeU" name="villeU">
            </div>
      
        </div>
  

        <div class="form-group" id=champ>
            <br>
            <input id="btnRechercheUtilisateur" name="btnRechercheUtilisateur" type="submit" value="Rechercher"
                class="btn btn-light">
        </div>
    </form>
    <br>
    <div id="pasDUtilisateurs" class="text-danger">Pas d'utilisateurs correspondants</div>
</div>

<div id="clientVieuw" class="boxPhoto shadow-sm p-3 mb-5 bg-white rounded">
    <!-- mettre barre de recherche -->
    <br>
    <br>
    <form>
        <div class=" form-group row">
            <div class="col-sm-4">
                <label for="nomClient">Nom :</label>
            <input type="text" class="form-control" placeholder="Nom "  id="nomClient" name="nomClient">
            </div>
            <div class="col-sm-4">
                <label for="codePostal">Code postal :</label>
            <input type="number" class="form-control" placeholder="Code postal" id="codePostal" name="codePostal">
            </div>
            <div class="col-sm-4">
                <label for="ville">Ville :</label>
            <input type="text" class="form-control" placeholder="Ville" id="ville" name="ville">
            </div>
        </div>
  
        <div class="form-group" id=champ>
            <br>
            <input id="btnRechercheClient" name="btnRechercheClient" type="submit" value="Rechercher"
                class="btn btn-light">
        </div>
    </form>
    <br>
    <div id="pasDeClients" class="text-danger">Pas de clients correspondants</div>
</div>

<div id="affichageVieuw" class="boxPhoto shadow-sm p-3 mb-5 bg-white rounded">

    <br>
    <br>
    <form>

        <div class=" form-group row">
            <div class="col-sm-5">
                <label for="nom_client">Nom :</label>
            <input type="text" class="form-control" id="nom_client" placeholder="Nom "  name="nom_client">
            </div>
            <div class="col-sm-5">
                <label for="dateDev">Date du devis :</label>
            <input type="date" class="form-control" id="dateDev"  name="dateDev">
            </div>

        </div>

        <div class=" form-group row">
            <div class="col-sm-3">
                <p for="montantMax"> Montant en euro entre : </p>
            </div>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="montantMin" placeholder="0" name="montantMin">
            </div>
            <div class="col-sm-1">
                <p for="montantMax">et</p>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="montantMax" placeholder="10000" name="montantMax">
            </div>
        </div>


        <div id="inputAmenagement" class="form-group row">
        <div class="col-sm-10">
                <label for="amenagementDevis">Type d'aménagement:</label>
            <select id="amenagementDevis" class="amenagementDevis form-control" name="amenagementDevis">

            </select>
            </div>
            
        </div>
        <div class="form-group" id=champ>
            <input id="btnRechercheDevis" name="btnRechercheDevis" type="submit" value="Rechercher"
                class="btn btn-light" >
        </div>

    </form>
    <br>
    <div id="pasDeDevis" class="text-danger"> Pas de devis correspondants</div>
</div>
<div id="spinDevis" class="spinner-border"></div>
