body {
    background-color: white;
    font-family: Verdana, sans-serif;
    margin: 0;
}

fieldset {
    background-color: rgb(88, 87, 87);
    border-top: 5px solid rgb(53, 52, 52);
    border-left: 5px solid rgb(53, 52, 52);
    border-right: 5px solid rgb(77, 76, 76);
    border-bottom: 5px solid rgb(77, 76, 76);
    border-radius: 10px;
    color: white;
    padding-left: 5%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    vertical-align: middle;
    width: 50%;
    height: 50%;
}

.navbar {
    opacity: 0, 1;
}

.txtSurPhotoAcceuil {
    color: white;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 100x;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.logo {
    width: 60px;
    height: 50px;
}

.table {
    width: 100%;
}

#tableau {
    padding: 4%;
}

tr:hover {
    background-color: rgb(229, 229, 229);
}

th {
    background-color: white;
}

.photofav {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 100px;
}

.boxPhoto {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.top-buffer {
    margin-top: 20px;
}

.plusInfo {
    background-color: transparent;
    color: blue;
    text-decoration: none;
}

.plusInfo:hover {
    text-decoration: underline;
}

.mySlides1,
.mySlidesAvant,
.mySlidesApres {
    display: none
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container2 {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.vert {
    background-color: #7dc48e;
}

#menu {
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: rgb(125, 196, 142);
}

li a {
    color: white;
}

.btn-lg:hover {
    color: white;
    background-color: seagreen;
}

.vert:hover {
    color: white;
    background-color: seagreen;
}

a:hover {
    color: white;
    background-color: seagreen;
}

#boutonEspacePatron {
    padding-left: 4%;
}

#monEspaceBouton {
    color: white;
    font-size: large;
}

#monEspaceBouton:hover {
    color: white;
    font-size: large;
    background-color: seagreen;
}

#nomEntreprise {
    margin-top: 15%;
}

#boutonCo {
    margin-top: 7%;
    margin-left: 100%;
    width: max-content;
}

#boutonDeco {
    margin-top: 7%;
    margin-left: 190%;
    width: max-content;
}

#listAmenagementRecherche {
    margin: 0;
}

#champ {
    margin: 0;
}

* {
    box-sizing: border-box
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* Checkbox css*/

.Checkbox {
    width: 20px;
    height: 20px;
    position: relative;
}

.Checkbox>* {
    position: absolute;
}

.Checkbox-visible {
    border: 1px solid gray;
    width: 16px;
    height: 16px;
    margin: 2px;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
}

.Checkbox>input {
    z-index: 1;
    opacity: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translatex(-50%) translatey(-50%);
    transform: translatex(-50%) translatey(-50%);
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.Checkbox>input:checked+.Checkbox-visible {
    background: #59cb59;
    border-color: #59cb59;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIHZpZXdCb3g9JzAgMCAxNCAxNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48dGl0bGU+d2hpdGU8L3RpdGxlPjxwYXRoIGQ9J001LjM3OCAxMS4zN0wyIDcuNTlsMS40MzgtMS4yODZMNS4zNzQgOC40N2w1LjE4NS01Ljg0TDEyIDMuOTFsLTYuNjIyIDcuNDYnIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
}

.Checkbox>input:hover+.Checkbox-visible {
    border-color: #cccccc;
}

.Checkbox>input:hover:checked+.Checkbox-visible {
    border-color: #0ca750;
}

.Checkbox>input:focus+.Checkbox-visible {
    border-color: #59cb59;
}